# Collections

## Tutorial:
https://campus.datacamp.com/courses/data-types-for-data-science-in-python

## Rodzaje kolekcji:

* mutable - list, set - methods on list can change it
* immutable - tuple - methods on tuple don’t modify it

# Lists

Operacje:

* dodawanie list - łączenie
* sorted(list) - zwraca nową listę
* zip(onelist, twolist) - zwraca mapę (type zip)

In [6]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen', 'Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [7]:
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

Ayden
Calvin
Rowen
Sandeep
Ximena

# Tuples

In [8]:
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']
ages = [1, 3, 2, 3]

# Pair up the name and age: pairs
pairs = zip(baby_names, ages) # powstaje mapa (type: zip)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # print(type(pair)) (type: tuple)
    # Unpack pair: girl_name, boy_name
    name, age = pair
    # Print the rank and names associated with each rank
    print('{}: {} is {} years old.'.format(idx, name, age))

0: Ximena is 1 years old.
1: Aliza is 3 years old.
2: Ayden is 2 years old.
3: Calvin is 3 years old.

# Sets

Characteristics:
- unique
- unordered
- mutable

Operations:
- .add() - single element
- .update() - merge in another set or list
- .discard(‘element’) - remove element by value
- .pop() - removes arbitrary element (przypadkowy)
- oneset.union(secondset) - two sets joined with OR
- oneset.intersection(secondset) - two sets joined with AND
- jason_ate.difference(hugo_ate) - what jason ate and hugo didn’t (MINUS)

In [9]:
baby_names_2011 = {'Ximena', 'Aliza', 'Ayden', 'Calvin'}
baby_names_2014 = {'Yan', 'Hugo', 'Ayden'}
print(type(baby_names_2011))

# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

<class 'set'>
6
1

# Dictionaries

In [10]:
# Create empty dictionary
new_dict = dict()
new_dict = {}

# Create a dictionary: names_by_rank
names_by_rank = {
    1: "Anna",
    2: "Ola",
    3: "Ela",
    6: "Jula",
    5: "Ewa",
    8: "Monika",
    7: "Jola",
    4: "Natalia"
}

# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank, reverse=True)[:3]:
    # Print each item
    print(names_by_rank[rank])

Monika
Jola
Jula

In [11]:
# Safely print rank 7 from the names_by_rank dictionary
print(names_by_rank.get(7))

# Safely print the type of rank 100 from the names_by_rank dictionary
print(type(names_by_rank.get(100)))

# Safely print rank 105 from the names_by_rank dictionary or 'Not Found'
print(names_by_rank.get(105, 'Not Found'))

Jola
<class 'NoneType'>
Not Found

In [12]:
boy_names = {
    2012: {}, 
    2013: {1: 'David', 2: 'Joseph', 3: 'Michael'}, 
    2014: {1: 'Joseph', 2: 'David', 3: 'Michael', 4: 'Moshe', 5: 'Jacob'}
}

# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names.get(2013).keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

dict_keys([2012, 2013, 2014])
dict_keys([1, 2, 3])
2012 Unknown
2013 Michael
2014 Michael

**Dictionaries are mutable - we can add / update / delete data.**

### updating dictionary

In [13]:
names_2012 = {1: 'Michael', 2: 'David', 3: 'Joseph', 4: 'Moshe', 5: 'Jacob'}

# Assign the names_2012 dictionary as the value to the 2012 key of boy_names
boy_names[2012] = names_2012

# Update the 2012 key in the boy_names dictionary
boy_names[2012].update([(1,'Casey'), (2,'Aiden')])

# Loop over the years in the boy_names dictionary 
for year in boy_names:
    # sort the data for each year by descending rank and get the lowest one
    lowest_ranked = sorted(boy_names[year], reverse=True)[0]
    # Safely print the year and the least popular name or 'Not Available'
    print(year, boy_names[year].get(lowest_ranked, 'Not Available'))

2012 Jacob
2013 Michael
2014 Jacob

### deleting from dictionary

In [14]:
female_names = {
    2011: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'},
    2012: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'},
    2013: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'},
    2014: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'},
    2015: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'},
}

# Remove 2011 from female_names and store it: female_names_2011
female_names_2011 = female_names.pop(2011)

# Safely remove 2015 from female_names with an empty dictionary as the default: female_names_2015
female_names_2015 = female_names.pop(2015, {})

# Delete 2012 from female_names
del female_names[2012]

# Print female_names
print(female_names)

{2013: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'}, 2014: {1: 'Olivia', 2: 'Emma', 3: 'Esther', 4: 'Sophia', 5: 'Sarah'}}

### iterating dictionary

In [15]:
# Iterate over the 2014 nested dictionary
for rank, name in female_names[2014].items():
    # Print rank and name
    print(rank, name)

1 Olivia
2 Emma
3 Esther
4 Sophia
5 Sarah

In [16]:
# Check to see if 2011 is in female_names
if 2011 in female_names:
    # Print 'Found 2011'
    print('Found 2011 in female_names')
else:
    print('Not found 2011 in female_names')
    
# Check to see if rank 1 is in 2013
if 1 in female_names[2013]:
    # Print 'Found Rank 1 in 2013' if found
    print('Found Rank 1 in 2013')
else:
    # Print 'Rank 1 missing from 2013' if not found
    print('Rank 1 missing from 2013')
    
# Check to see if Rank 5 is in 2014
if 5 in female_names[2014]:
   # Print 'Found Rank 5'
   print('Found Rank 5')

Not found 2011 in female_names
Found Rank 1 in 2013
Found Rank 5

## Counter

In [19]:
# Import the Counter object
from collections import Counter

stations = ['Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 
            'Francisco', 'Francisco', 'Francisco',
            'Noyes','Noyes']

# Print the first ten items from the stations list
print(stations[0:10])

# Create a Counter of the stations list: station_count
station_count = Counter(stations)

# Print the station_count
print(station_count)

['Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Francisco', 'Francisco', 'Francisco', 'Noyes', 'Noyes']
Counter({'Austin-Forest Park': 5, 'Francisco': 3, 'Noyes': 2})

In [20]:
# Find the 2 most common elements
print(station_count.most_common(2))

[('Austin-Forest Park', 5), ('Francisco', 3)]

## Dictionaries of unknown structure

In [23]:
entries = [
    ('09/26/2016', 'Lake/State', '22309'), ('09/27/2016', 'Lake/State', '22328'), ('09/28/2016', 'Lake/State', '22554'), 
    ('09/29/2016', 'Lake/State', '22370'), ('09/30/2016', 'Lake/State', '22647'), 
    ('09/01/2016', 'Conservatory', '984'), ('09/02/2016', 'Conservatory', '975'), ('09/03/2016', 'Conservatory', '720'), 
    ('09/04/2016', 'Conservatory', '598'), ('09/05/2016', 'Conservatory', '590'), ('09/06/2016', 'Conservatory', '914'), 
    ('09/07/2016', 'Conservatory', '1028'),
    ('09/26/2016', 'UIC-Halsted', '2864'), ('09/27/2016', 'UIC-Halsted', '4685'), ('09/28/2016', 'UIC-Halsted', '781'),
    ('09/06/2016', 'UIC-Halsted', '964'), ('09/07/2016', 'UIC-Halsted', '1328')
]

# Create an empty dictionary: ridership
ridership = dict()

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the ridership dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append((stop, riders))
    
# Print the ridership for '09/06/2016' and '09/26/2016'
print(ridership['09/06/2016'])
print(ridership['09/26/2016'])

[('Conservatory', '914'), ('UIC-Halsted', '964')]
[('Lake/State', '22309'), ('UIC-Halsted', '2864')]

In [24]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

# Iterate over the entries
for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership[stop].append(riders)
    
# Print the first 10 items of the ridership dictionary
print(list(ridership.items())[:10])

[('Lake/State', ['22309', '22328', '22554', '22370', '22647']), ('Conservatory', ['984', '975', '720', '598', '590', '914', '1028']), ('UIC-Halsted', ['2864', '4685', '781', '964', '1328'])]

## Ordered dictionary

Recently in Python 3.6, dictionaries were made to maintain the order in which the keys were inserted; however, in all versions prior to that you need to use an OrderedDict to maintain insertion order.

In [36]:
# Import OrderedDict from collections
from collections import OrderedDict

# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()

# Iterate over the entries
for date, stop, riders in entries:
    # Print current entries
    print(f'Date: {date}, riders: {riders}')
    
    # If a key does not exist in ridership_date, set it to 0
    if  date not in ridership_date:
        ridership_date[date] = 0
    
    # Add riders to the date key in ridership_date
    ridership_date[date] += int(riders)
    
# Print the first 31 records
print(list(ridership_date.items())[:31])

Date: 09/26/2016, riders: 22309
Date: 09/27/2016, riders: 22328
Date: 09/28/2016, riders: 22554
Date: 09/29/2016, riders: 22370
Date: 09/30/2016, riders: 22647
Date: 09/01/2016, riders: 984
Date: 09/02/2016, riders: 975
Date: 09/03/2016, riders: 720
Date: 09/04/2016, riders: 598
Date: 09/05/2016, riders: 590
Date: 09/06/2016, riders: 914
Date: 09/07/2016, riders: 1028
Date: 09/26/2016, riders: 2864
Date: 09/27/2016, riders: 4685
Date: 09/28/2016, riders: 781
Date: 09/06/2016, riders: 964
Date: 09/07/2016, riders: 1328
[('09/26/2016', 25173), ('09/27/2016', 27013), ('09/28/2016', 23335), ('09/29/2016', 22370), ('09/30/2016', 22647), ('09/01/2016', 984), ('09/02/2016', 975), ('09/03/2016', 720), ('09/04/2016', 598), ('09/05/2016', 590), ('09/06/2016', 1878), ('09/07/2016', 2356)]

In [38]:
# Print the first key in ridership_date
print(list(ridership_date.keys())[0])

# Pop the first item from ridership_date and print it
print(ridership_date.popitem(last=False))

# Print the last key in ridership_date
print(list(ridership_date.keys())[len(ridership_date.keys())-1])

# Pop the last item from ridership_date and print it
print(ridership_date.popitem())

09/27/2016
('09/27/2016', 27013)
09/06/2016
('09/06/2016', 1878)

## namedtuple

* A tuple where each position (column) has a name
* Alternative to Pandas Dataframe row
* Instead of bunch of instances of class
* convienien access - row.field, details.riders

In [39]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

[DateDetails(date='09/26/2016', stop='Lake/State', riders='22309'), DateDetails(date='09/27/2016', stop='Lake/State', riders='22328'), DateDetails(date='09/28/2016', stop='Lake/State', riders='22554'), DateDetails(date='09/29/2016', stop='Lake/State', riders='22370'), DateDetails(date='09/30/2016', stop='Lake/State', riders='22647')]

In [40]:
# Iterate over the first 5 items in labeled_entries
for item in labeled_entries[:5]:
    # Print each item's stop
    print(item.stop)

    # Print each item's date
    print(item.date)

    # Print each item's riders
    print(item.riders)

Lake/State
09/26/2016
22309
Lake/State
09/27/2016
22328
Lake/State
09/28/2016
22554
Lake/State
09/29/2016
22370
Lake/State
09/30/2016
22647