Rodzaje kolekcji:

* mutable - list, set - methods on list can change it
* immutable - tuple - methods on tuple don’t modify it

# Lists

Operacje:

* dodawanie list - łączenie
* sorted(list) - zwraca nową listę
* zip(onelist, twolist) - zwraca mapę (type zip)

In [1]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen', 'Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

In [2]:
# Sort the names in alphabetical order
for name in sorted(baby_names):
    # Print each name
    print(name)

Ayden
Calvin
Rowen
Sandeep
Ximena

# Tuples

In [5]:
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']
ages = [1, 3, 2, 3]

# Pair up the name and age: pairs
pairs = zip(baby_names, ages) # powstaje mapa (type: zip)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # print(type(pair)) (type: tuple)
    # Unpack pair: girl_name, boy_name
    name, age = pair
    # Print the rank and names associated with each rank
    print('{}: {} is {} years old.'.format(idx, name, age))

<class 'tuple'>
0: Ximena is 1 years old.
<class 'tuple'>
1: Aliza is 3 years old.
<class 'tuple'>
2: Ayden is 2 years old.
<class 'tuple'>
3: Calvin is 3 years old.

# Sets

Characteristics:
- unique
- unordered
- mutable

Operations:
- .add() - single element
- .update() - merge in another set or list
- .discard(‘element’) - remove element by value
- .pop() - removes arbitrary element (przypadkowy)
- oneset.union(secondset) - two sets joined with OR
- oneset.intersection(secondset) - two sets joined with AND
- jason_ate.difference(hugo_ate) - what jason ate and hugo didn’t (MINUS)

In [8]:
baby_names_2011 = {'Ximena', 'Aliza', 'Ayden', 'Calvin'}
baby_names_2014 = {'Yan', 'Hugo', 'Ayden'}
print(type(baby_names_2011))

# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

<class 'set'>
6
1

# Dictionaries

In [10]:
# Create an empty dictionary: names_by_rank
names_by_rank = {
    1: "Anna",
    2: "Ola",
    3: "Ela",
    6: "Jula",
    5: "Ewa",
    8: "Monika",
    7: "Jola",
    4: "Natalia"
}

# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank, reverse=True)[:3]:
    # Print each item
    print(names_by_rank[rank])

Monika
Jola
Jula