# Dates and Times

* .strptime() - parsing strings into datetimes
* .strftime() - parsing datetimes into strings

In [1]:
# Import the datetime object from datetime
from datetime import datetime

dates_list = ['02/19/2001', '04/10/2001', '05/30/2001', '07/19/2001', '09/07/2001', '10/27/2001', '12/16/2001', 
              '02/04/2002', '03/26/2002', '05/15/2002', '07/04/2002', '08/23/2002', '10/12/2002', '12/01/2002', 
              '01/20/2003', '03/11/2003', '04/30/2003', '06/19/2003', '08/08/2003', '09/27/2003', '11/16/2003', 
              '01/05/2004', '02/24/2004', '04/14/2004', '06/03/2004', '07/23/2004', '09/11/2004']

# Iterate over the dates_list 
for date_str in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(date_str, '%m/%d/%Y')
    
    # Print each date_dt
    print(date_dt)

2001-02-19 00:00:00
2001-04-10 00:00:00
2001-05-30 00:00:00
2001-07-19 00:00:00
2001-09-07 00:00:00
2001-10-27 00:00:00
2001-12-16 00:00:00
2002-02-04 00:00:00
2002-03-26 00:00:00
2002-05-15 00:00:00
2002-07-04 00:00:00
2002-08-23 00:00:00
2002-10-12 00:00:00
2002-12-01 00:00:00
2003-01-20 00:00:00
2003-03-11 00:00:00
2003-04-30 00:00:00
2003-06-19 00:00:00
2003-08-08 00:00:00
2003-09-27 00:00:00
2003-11-16 00:00:00
2004-01-05 00:00:00
2004-02-24 00:00:00
2004-04-14 00:00:00
2004-06-03 00:00:00
2004-07-23 00:00:00
2004-09-11 00:00:00

In [26]:
datetimes_list = [datetime(2001, 2, 19, 0, 0), datetime(2001, 4, 10, 0, 0), datetime(2001, 5, 30, 0, 0), 
                  datetime(2001, 7, 19, 0, 0), datetime(2001, 9, 7, 0, 0), datetime(2001, 10, 27, 0, 0), 
                  datetime(2001, 12, 16, 0, 0), datetime(2002, 2, 4, 0, 0), datetime(2002, 3, 26, 0, 0), 
                  datetime(2002, 5, 15, 0, 0)]

# Loop over the first 10 items of the datetimes_list
for item in datetimes_list[:10]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(datetime.strftime(item, '%m/%d/%Y'))
    
    # Print out the record as an ISO standard string
    print(datetime.isoformat(item))

02/19/2001
2001-02-19T00:00:00
04/10/2001
2001-04-10T00:00:00
05/30/2001
2001-05-30T00:00:00
07/19/2001
2001-07-19T00:00:00
09/07/2001
2001-09-07T00:00:00
10/27/2001
2001-10-27T00:00:00
12/16/2001
2001-12-16T00:00:00
02/04/2002
2002-02-04T00:00:00
03/26/2002
2002-03-26T00:00:00
05/15/2002
2002-05-15T00:00:00

In [12]:
from collections import defaultdict

daily_summaries = [('01/01/2001', 'U', '297192', '126455', '423647'), 
                   ('01/02/2001', 'W', '780827', '501952', '1282779'), 
                   ('01/03/2001', 'W', '824923', '536432', '1361355'), 
                   ('01/04/2001', 'W', '870021', '550011', '1420032'), 
                   ('01/05/2001', 'W', '890426', '557917', '1448343'), 
                   ('02/01/2001', 'A', '577401', '255356', '832757'), 
                   ('02/02/2001', 'U', '375831', '169825', '545656'),
                   ('02/03/2001', 'W', '985221', '590706', '1575927'), 
                   ('03/01/2001', 'W', '978377', '599905', '1578282'), 
                   ('03/02/2001', 'W', '984884', '602052', '1586936')]

# Create a defaultdict of an integer: monthly_total_rides
monthly_total_rides = defaultdict(int)

# Loop over the list daily_summaries
for daily_summary in daily_summaries:
    # Convert the service_date to a datetime object
    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(daily_summary[4])
    
# Print monthly_total_rides
print(monthly_total_rides)

defaultdict(<class 'int'>, {1: 5936156, 2: 2954340, 3: 3165218})

In [13]:
# Compute the local datetime: local_dt
local_dt = datetime.now()

# Print the local datetime
print(local_dt)

# Compute the UTC datetime: utc_dt
utc_dt = datetime.utcnow()

# Print the UTC datetime
print(utc_dt)

2020-07-24 15:45:35.800920
2020-07-24 13:45:35.800920

## Timezones

* pytz library
CT = timezone('US/Central')
All timezones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [25]:
from pytz import timezone

daily_summaries = [(datetime(2001, 1, 1, 5, 35), '126455'),  (datetime(2001, 1, 2, 14, 29), '501952'), 
                   (datetime(2001, 1, 3, 0, 20), '536432'),  (datetime(2001, 1, 4, 16, 59), '550011'), 
                   (datetime(2001, 1, 5, 14, 56), '557917'), (datetime(2001, 1, 6, 21, 19), '255356'), 
                   (datetime(2001, 1, 7, 7, 26), '169825'),  (datetime(2001, 1, 8, 19, 14), '590706'), 
                   (datetime(2001, 1, 9, 18, 51), '599905')]

# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Central')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

# Iterate over the daily_summaries list
for orig_dt, ridership in daily_summaries:

    # Make the orig_dt timezone "aware" for Chicago
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    
    # Convert chicago_dt to the New York Timezone
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    # Print the chicago_dt, ny_dt, and ridership
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

Chicago: 2001-01-01 05:35:00-05:51, NY: 2001-01-01 06:26:00-05:00, Ridership: 126455
Chicago: 2001-01-02 14:29:00-05:51, NY: 2001-01-02 15:20:00-05:00, Ridership: 501952
Chicago: 2001-01-03 00:20:00-05:51, NY: 2001-01-03 01:11:00-05:00, Ridership: 536432
Chicago: 2001-01-04 16:59:00-05:51, NY: 2001-01-04 17:50:00-05:00, Ridership: 550011
Chicago: 2001-01-05 14:56:00-05:51, NY: 2001-01-05 15:47:00-05:00, Ridership: 557917
Chicago: 2001-01-06 21:19:00-05:51, NY: 2001-01-06 22:10:00-05:00, Ridership: 255356
Chicago: 2001-01-07 07:26:00-05:51, NY: 2001-01-07 08:17:00-05:00, Ridership: 169825
Chicago: 2001-01-08 19:14:00-05:51, NY: 2001-01-08 20:05:00-05:00, Ridership: 590706
Chicago: 2001-01-09 18:51:00-05:51, NY: 2001-01-09 19:42:00-05:00, Ridership: 599905

## Adding and subtracting time

* timedelta - is used to represent an amountof change in time

In [33]:
from datetime import datetime
# Import timedelta from the datetime module
from datetime import timedelta

daily_summaries = {
    datetime(2006, 5, 18, 0, 0): {'day_type': 'W', 'total_ridership': '1640304'},
    datetime(2013, 4, 21, 0, 0): {'day_type': 'U', 'total_ridership': '755011'},
    datetime(2011, 10, 2, 0, 0): {'day_type': 'U', 'total_ridership': '830929'},
    datetime(2007, 8, 13, 0, 0): {'day_type': 'W', 'total_ridership': '1475645'},
    datetime(2006, 4, 18, 0, 0): {'day_type': 'W', 'total_ridership': '1670733'}, 
    datetime(2013, 3, 22, 0, 0): {'day_type': 'A', 'total_ridership': '1037455'},
    datetime(2011, 9, 2, 0, 0): {'day_type': 'W', 'total_ridership': '1593372'},
    datetime(2007, 7, 14, 0, 0): {'day_type': 'W', 'total_ridership': '1682698'}
}

review_dates = [datetime(2006, 5, 18, 0, 0), datetime(2013, 4, 21, 0, 0), datetime(2011, 10, 2, 0, 0), 
                datetime(2007, 8, 13, 0, 0)]

# Build a timedelta of 30 days: glanceback
glanceback = timedelta(days=30)

# Iterate over the review_dates as date
for date in review_dates:
    # Calculate the date 30 days back: prior_period_dt
    prior_period_dt = date - glanceback
    
    # Print the review_date, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          daily_summaries[date]['day_type'], 
          daily_summaries[date]['total_ridership']))

    # Print the prior_period_dt, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (prior_period_dt, 
          daily_summaries[prior_period_dt]['day_type'], 
          daily_summaries[prior_period_dt]['total_ridership']))

Date: 2006-05-18 00:00:00, Type: W, Total Ridership: 1640304
Date: 2006-04-18 00:00:00, Type: W, Total Ridership: 1670733
Date: 2013-04-21 00:00:00, Type: U, Total Ridership: 755011
Date: 2013-03-22 00:00:00, Type: A, Total Ridership: 1037455
Date: 2011-10-02 00:00:00, Type: U, Total Ridership: 830929
Date: 2011-09-02 00:00:00, Type: W, Total Ridership: 1593372
Date: 2007-08-13 00:00:00, Type: W, Total Ridership: 1475645
Date: 2007-07-14 00:00:00, Type: W, Total Ridership: 1682698

In [45]:
# Finding differences between times
start_dates = [
    datetime.strptime('2001-03-01', '%Y-%m-%d'), datetime.strptime('2001-04-01', '%Y-%m-%d'), 
    datetime.strptime('2001-04-15', '%Y-%m-%d'), datetime.strptime('2001-05-05', '%Y-%m-%d')
]

end_dates = [
    datetime.strptime('2001-03-31', '%Y-%m-%d'), datetime.strptime('2001-04-30', '%Y-%m-%d'), 
    datetime.strptime('2001-04-30', '%Y-%m-%d'), datetime.strptime('2001-05-31', '%Y-%m-%d')
]

date_ranges = zip(start_dates, end_dates)
print(type(date_ranges))

# Iterate over the date_ranges
for start_date, end_date in date_ranges:
    # Print the End and Start Date
    print(end_date, start_date)
    # Print the difference between each end and start date
    print(end_date - start_date)

<class 'zip'>
2001-03-31 00:00:00 2001-03-01 00:00:00
30 days, 0:00:00
2001-04-30 00:00:00 2001-04-01 00:00:00
29 days, 0:00:00
2001-04-30 00:00:00 2001-04-15 00:00:00
15 days, 0:00:00
2001-05-31 00:00:00 2001-05-05 00:00:00
26 days, 0:00:00

## Pendelum library

In [43]:
# Import the pendulum module
import pendulum

# Create a now datetime for Tokyo: tokyo_dt
tokyo_dt = pendulum.now('Asia/Tokyo')

# Covert the tokyo_dt to Los Angeles: la_dt
la_dt = tokyo_dt.in_timezone('America/Los_Angeles')

# Print the ISO 8601 string of la_dt
print(la_dt.to_iso8601_string())

2020-07-26T12:33:28.683432-07:00

In [57]:
start_dates = ['2001-03-01', '2001-04-01', '2001-04-15', '2001-05-05']
end_dates = ['2001-03-31', '2001-04-30', '2001-04-30', '2001-05-31']
date_ranges = zip(start_dates, end_dates)

# Iterate over date_ranges
for start_date, end_date in date_ranges:
    # Print the End and Start Date
    print(end_date, start_date)
    
    # Convert the start_date string to a pendulum date: start_dt 
    start_dt = pendulum.parse(start_date, strict = False)
    
    # Convert the end_date string to a pendulum date: end_dt 
    end_dt = pendulum.parse(end_date, strict = False)
    
    # Calculate the difference between end_dt and start_dt: diff_period
    diff_period = end_dt - start_dt
    
    # Print the difference in days
    print(diff_period.in_days())

2001-03-31 2001-03-01
30
2001-04-30 2001-04-01
29
2001-04-30 2001-04-15
15
2001-05-31 2001-05-05
26